# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\loren\Desktop\Universita\Magistrale\I Anno\I Semestre\Artificial Intelligence\Project\GeneticAlgorithms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
